:root {
    --primary-r: #fc4e39;
    --primary: #47585c;
    --secondary: #fab44a;
    --white: lighten(var(--primary), 65%);
    --primary-second: hsl(191, 13%, 82%);
    --primary-tertiary: hsl(191, 13%, 50%);
    --primary-quaternary: hsl(194, 15%, 40%);
    --primary-white: lighten(var(--primary), 55%);
    --primary-light: lighten(var(--primary), 40%);
    --primary-gradient: linear-gradient(var(--primary), var(--secondary));
    --secondary-white: lighten(var(--secondary), 15%);
    --secondary-light: lighten(var(--secondary), 10%);
    --secondary-gradient: linear-gradient(var(--secondary), var(--primary));
    --success: hsl(6, 97%, 68%);
    --fail: hsl(0, 5%, 70%);
    --grey-0: #ffffff;
    --grey-1: #f8f8f8;
    --grey-2: #e6e6e6;
    --grey-3: #8e8c93;
    --grey-4: #5d5b62;
    --grey-5: #312e34;
    --primary-l-1: hsl(6, 97%, 95%);
    --primary-l-2: hsl(6, 97%, 90%);
    --primary-l-3: hsl(6, 97%, 85%);
    --primary-l-4: hsl(6, 97%, 75%);
    --primary-l-5: hsl(6, 97%, 70%);
    --primary-r-gradient: linear-gradient(90deg, var(--primary-r), #fab44a);

    --epuise: #8e8c93;
    --fatigue: #ff9f83;
    --habituel: #92df7e;
    --bien: #60b479;
    --excellent: #fc4e39;

    --pas-assez: #ff9e78;

    --grey-1-rgb: rgb(250, 247, 255);
    --grey-2-rgb: rgb(236, 224, 255);
    --grey-3-rgb: rgb(142, 140, 147);
    --grey-4-rgb: rgb(93, 91, 98);
    --grey-5-rgb: rgb(49, 46, 52);

    --ion-text-color: var(--grey-4);
    --background: var(--grey-0);
    --ion-background-color: var(--background);
    
    --icon-fill: var(--primary-l-4);
    --icon-fill-hover: var(--primary-l-3);
    --ciel: #a9dfeb6e;
}

[data-theme="dark"] {
    --grey-0: #313338;
    --grey-1: #2b2d31;
    --grey-2: #f2f3f5;
    --grey-3: #b4b9c0;
    --grey-4: #5d5b62;
    --grey-5: #1e1f22;

    --background: var(--grey-0);
    --ion-background-color: var(--background);
    --ion-text-color: var(--grey-3);
    --ion-toolbar-backround: var(--grey-1);
    
    --icon-fill: var(--ion-text-color);
    --icon-fill-hover: var(--grey-4);
    --ciel: #3f3d56bb;
}

$primary-r: #fc4e39;
$primary: #47585c;
$secondary: #fab44a;
$white: lighten($primary, 65%);

$primary-second: hsl(191, 13%, 82%);
$primary-tertiary: hsl(191, 13%, 50%);
$primary-quaternary: hsl(194, 15%, 40%);

$primary-white: lighten($primary, 55%);
$primary-light: lighten($primary, 40%);
$primary-gradient: linear-gradient($primary, $secondary);
$secondary-white: lighten($secondary, 15%);
$secondary-light: lighten($secondary, 10%);
$secondary-gradient: linear-gradient($secondary, $primary);

$success: hsl(6, 97%, 68%);
$fail: hsl(0, 5%, 70%);

$grey-1: #faf7ff;
$grey-2: #f5faf7;
$grey-3: #acabaf;
$grey-4: #5d5b62;
$grey-5: #312e34;

$primary-l-1: hsl(6, 97%, 95%);
$primary-l-2: hsl(6, 97%, 90%);
$primary-l-3: hsl(6, 97%, 85%);
$primary-l-4: hsl(6, 97%, 75%);
$primary-l-5: hsl(6, 97%, 70%);

$primary-r-gradient: linear-gradient(90deg, $primary-r, #fab44a);
