:root {
    --vert-clair: #81c784;
    --vert-fonce: #00897b;
    --vetement: #455a64;
    --nuage: var(--grey-1);
    --etoile: transparent;
}

[data-theme="dark"] {
    --etoile: rgba(255, 255, 255, 0.5);

    --vert-clair: #144969;
    --vert-fonce: #091e3d;

    --vetement: #081d3a;
    --nuage: var(--grey-3);
}
