.nav {
    padding: 0.5rem;
    height: 50px;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;

    .btn {
        &.reverse {
            aspect-ratio: 1/1;
            text-align: center;
            justify-content: center;
            box-shadow: none;
            font-size: 1.4rem;
            height: 1rem;
            width: 1rem;
            background-color: rgba(#faf7ff, 0.2);
            padding: 1rem;
            border: 0;
        }
    }
}
