@import "../styles//assets/shadow-helpers";

:host {
    --offset-bottom: 0;
}

.home-container {
    position: relative;

    .theme-switcher {
        position: absolute;
        z-index: 101;
        top: 4px;
        right: 4px;
        height: 34px;
        width: 34px;
        outline: 1px solid var(--ciel);
        background-color: var(--ciel);
        box-shadow: $light-shadow;
        border-radius: 50%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-illustration-container {
        display: block;
        height: 260px;
        background-color: var(--ciel);
        width: auto;
        position: relative;
        .home-illustration-logo {
            position: absolute;
            inset: 50%;
            transform: translateX(-50%) translateY(-82%);
            width: 120px;
        }
        .home-illustration {
            object-fit: contain;
            object-position: top;
            width: 110%;
            margin-top: -5%;
            margin-left: -5%;
            max-width: none;
            transform: translateY(-30px);
        }
    }

    .home-container--content--title {
        font-size: 0.75rem;
        color: var(--grey-4);
        font-weight: bold;
    }

    .home-container--content {
        z-index: 10;
        position: relative;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 18px;
        padding-top: 24px;
        background: var(--grey-0);
        border-radius: 24px;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.home-footer {
    --ion-toolbar-background: var(--grey-0);
    background: var(--grey-0);
    border-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    box-shadow: $box-shadow-lighten;
    z-index: 100;

    .home-footer--inner {
        padding: 4px;
        margin: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            color: var(--grey-3);
            font-size: 0.75rem;

            i {
                font-size: 24px;
                padding: 4px;
                border-radius: 8px;
                color: var(--grey-3);
            }
        }

        .play-seance {
            padding: 12px;
            position: relative;

            i {
                position: absolute;
                color: var(--grey-2);
                font-size: 48px;
                padding: 8px;
                border: 4px solid var(--grey-0);
                background: var(--primary-r-gradient);
                transform: translateY(-24px);
                border-radius: 50%;
            }
        }
    }
}

.bento.ressentis-bento {
    position: relative;
    overflow: hidden;
    transition: visiblity 1.5s;
    transition-delay: 2s;
    .ressentis-bento--question {
        color: var(--grey-3);
        font-size: 0.75rem;
        font-weight: bold;
    }
    .ressentis-container {
        padding-top: 12px;
        align-items: flex-start;
    }
    .ressentis-bento--news-check {
        position: absolute;
        right: 12px;
        top: 12px;
    }
    .ressentis-bento--success-check {
        position: absolute;
        inset: 0;
        z-index: 1001;
        top: calc(50% - 40px);
        .icon-line {
            background-color: var(--primary-tertiary) !important;
        }

        .check-icon,
        .icon-circle {
            border-color: var(--primary-tertiary) !important;
        }
    }
}
