@import "../../styles/assets/variables";

// -- vars
$default-size: 3rem;
$label-font-size: calc($default-size / 2);
$label-font-size-redo: $default-size * 1.35;
$size-half: calc($default-size / 2);

.exo-recap {
    --color: var(--primary-r);
    --color-light: var(--primary-l-2);
    --color-lighter: var(--primary-l-3);
}

.perfect {
    --color: var(--info);
    --color-light: var(--info-light);
    --color-lighter: var(--info-lighter); 
}

.easy {
    --color: var(--success);
    --color-light: var(--success-light);
    --color-lighter: var(--success-lighter); 
}

// -- mixins
@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin draw-progress($progress, $color) {
    .pie {
        .half-circle {
            border-color: $color;
        }

        .left-side {
            transform: rotate($progress * 3.6deg);
        }

        @if $progress <= 50 {
            clip: rect(auto, auto, auto, auto);
            .right-side {
                border-color: var(--color-light);
                top: -1px;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}

.set-size {
    overflow: visible;
}

.succeeded {
    .pie-wrapper {
        .pie {
            background: var(--color-lighter);
        }
        .label {
            background-color: var(--color);
            z-index: 100;
            color: $white;
        }
        .left-side.half-circle,
        .right-side.half-circle {
            border-color: var(--color-lighter) !important;
        }
    }
}

.charts-container {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.pie {
    background: var(--color-light);
    border-radius: 50%;
}

.pie-wrapper {
    @include size($default-size, $default-size);
    float: left;
    position: relative;

    &:nth-child(3n + 1) {
        clear: both;
    }

    .pie {
        @include size(100%, 100%);
        clip: rect(0, $default-size, $default-size, $size-half);
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
            aspect-ratio: 1/1;
            height: 75%;
            border: calc($default-size / 8) solid var(--color);
            border-radius: 50%;
            clip: rect(0, $size-half, $default-size, 0);
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    .label {
        border-radius: 50%;
        bottom: calc($label-font-size-redo / 14);
        color: var(--color);
        cursor: default;
        z-index: 10;
        background: $white;
        display: block;
        font-size: $label-font-size;
        left: calc($label-font-size-redo / 14);
        line-height: $label-font-size-redo * 0.7;
        position: absolute;
        right: calc($label-font-size-redo / 14);
        text-align: center;
        top: calc($label-font-size-redo / 14);
    }

    &.progress-10 {
        @include draw-progress(0, transparent);
    }

    &.progress-20 {
        @include draw-progress(20, var(--color));
    }

    &.progress-30 {
        @include draw-progress(30, var(--color));
    }

    &.progress-50 {
        @include draw-progress(50, var(--color));
    }

    &.progress-60 {
        @include draw-progress(60, var(--color));
    }

    &.progress-90 {
        @include draw-progress(90, var(--color));
    }
    &.progress-100 {
        @include draw-progress(100, var(--color));
    }
}
